<%= render 'shared/menu' %>
<% class_name = @class.model_name.human #get the class name
  .split(' ')                           #make an array of the words
  .map{|str| str.capitalize}            #capitalize each word
  .join(' ')                            #join the string back 
%>
<h1>Listing <%= class_name.pluralize %></h1>
<table>
<% @objects.each do |object| %>
  <tr>
    <td><%= link_to object.name, action: 'show', id: object.id %></td>
    <td><%= link_to 'Edit', action: 'edit', id: object.id %></td>
    <td><%= link_to 'Destroy', {action: 'destroy', id: object.id}, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to "New #{class_name}", action: 'new' %>