<h1>Information for this <%= @object.class.model_name.human %></h1>
<% @object.attributes.each do |attribute| %>
  <% attr_name = attribute.first.to_s.split('_').map(&:capitalize).join(' ') %>
  <% unless (attribute.first.to_s.eql?("id")) %>
    <div><%= "#{attr_name}:  #{attribute.last}"%></div>
  <% end %>
<% end %>
<% mtm_associations = @object.class.reflect_on_all_associations(:has_many) +
    @object.class.reflect_on_all_associations(:has_and_belongs_to_many) %>
<% mtm_associations.each do |assoc_type| %>
    <h1><%= assoc_type.name.to_s.split('_').map{|str| str.capitalize}.join(' ') %></h1>
    <% if (assoc_type.name.to_s.include?('major')) %>
    <% @object.send(assoc_type.plural_name).each do |assoc_value| %>
      <%= assoc_value.name %>
    <% end %>
    <% end %>
<% end %>
<%= link_to 'Edit', action: 'edit', id: @object.id %> |
<%= link_to 'Back', action: nil %>
